In [1]:
import pandas as pd

In [6]:
dataset = pd.read_csv(r"C:\Users\Christopher\Music\datathon\data\venues.csv\venues.csv")

In [12]:
dataset = dataset.drop('name', axis=1)

In [13]:
dataset = dataset.drop('rating', axis = 1)

In [14]:
print(dataset.columns)

Index(['city', 'id', 'latitude', 'longitude', 'types'], dtype='object')

In [15]:
print(dataset.types)

0         ['restaurant', 'food', 'point_of_interest', 'e...
1         ['restaurant', 'food', 'point_of_interest', 'e...
2         ['meal_takeaway', 'restaurant', 'food', 'store...
3         ['restaurant', 'food', 'point_of_interest', 'e...
4         ['restaurant', 'food', 'point_of_interest', 'e...
5         ['restaurant', 'food', 'point_of_interest', 'e...
6         ['restaurant', 'food', 'point_of_interest', 'e...
7         ['restaurant', 'food', 'point_of_interest', 'e...
8         ['restaurant', 'food', 'point_of_interest', 'e...
9         ['meal_takeaway', 'restaurant', 'food', 'point...
10        ['restaurant', 'food', 'point_of_interest', 'e...
11        ['restaurant', 'food', 'point_of_interest', 'e...
12        ['restaurant', 'food', 'point_of_interest', 'e...
13        ['restaurant', 'food', 'point_of_interest', 'e...
14        ['restaurant', 'food', 'point_of_interest', 'e...
15        ['restaurant', 'food', 'point_of_interest', 'e...
16        ['restaurant', 'food', 'point_of_interest', 'e...
17        ['restaurant', 'food', 'point_of_interest', 'e...
18        ['restaurant', 'food', 'point_of_interest', 'e...
19        ['restaurant', 'food', 'point_of_interest', 'e...
20        ['restaurant', 'food', 'point_of_interest', 'e...
21        ['restaurant', 'food', 'point_of_interest', 'e...
22        ['restaurant', 'food', 'point_of_interest', 'e...
23        ['restaurant', 'food', 'point_of_interest', 'e...
24        ['restaurant', 'food', 'point_of_interest', 'e...
25        ['meal_takeaway', 'restaurant', 'food', 'point...
26        ['restaurant', 'food', 'point_of_interest', 'e...
27        ['restaurant', 'food', 'point_of_interest', 'e...
28        ['restaurant', 'food', 'point_of_interest', 'e...
29        ['restaurant', 'food', 'store', 'point_of_inte...
                                ...
165955    ['travel_agency', 'point_of_interest', 'establ...
165956    ['travel_agency', 'point_of_interest', 'establ...
165957    ['travel_agency', 'point_of_interest', 'establ...
165958    ['travel_agency', 'health', 'point_of_interest...
165959    ['travel_agency', 'point_of_interest', 'establ...
165960    ['travel_agency', 'point_of_interest', 'establ...
165961    ['travel_agency', 'point_of_interest', 'establ...
165962    ['travel_agency', 'point_of_interest', 'establ...
165963    ['travel_agency', 'insurance_agency', 'point_o...
165964    ['travel_agency', 'point_of_interest', 'establ...
165965    ['travel_agency', 'point_of_interest', 'establ...
165966    ['travel_agency', 'point_of_interest', 'establ...
165967    ['travel_agency', 'point_of_interest', 'establ...
165968    ['travel_agency', 'point_of_interest', 'establ...
165969    ['travel_agency', 'point_of_interest', 'establ...
165970    ['park', 'zoo', 'point_of_interest', 'establis...
165971        ['zoo', 'point_of_interest', 'establishment']
165972        ['zoo', 'point_of_interest', 'establishment']
165973        ['zoo', 'point_of_interest', 'establishment']
165974        ['zoo', 'point_of_interest', 'establishment']
165975    ['park', 'zoo', 'point_of_interest', 'establis...
165976    ['amusement_park', 'point_of_interest', 'estab...
165977    ['amusement_park', 'point_of_interest', 'estab...
165978    ['amusement_park', 'point_of_interest', 'estab...
165979    ['amusement_park', 'point_of_interest', 'estab...
165980    ['amusement_park', 'point_of_interest', 'estab...
165981    ['amusement_park', 'point_of_interest', 'estab...
165982    ['amusement_park', 'point_of_interest', 'estab...
165983    ['amusement_park', 'point_of_interest', 'estab...
165984    ['amusement_park', 'point_of_interest', 'estab...
Name: types, Length: 165985, dtype: object

In [16]:
dataset = dataset.drop('id', axis = 1)

In [18]:
dataset.to_csv('venues_clean.csv')

In [19]:
dataset = pd.read_csv(r"C:\Users\Christopher\Music\datathon\data\real_estate.csv\real_estate.csv")

In [24]:
def show_missing():
    missing = dataset.columns[dataset.isnull().any()].tolist()
    return missing

In [25]:
dataset[show_missing()].isnull().sum()

metro       1865
1996-04    19447
1996-05    19338
1996-06    19313
1996-07    19306
1996-08    19294
1996-09    19294
1996-10    19294
1996-11    19287
1996-12    19287
1997-01    19236
1997-02    18686
1997-03    18648
1997-04    18648
1997-05    18647
1997-06    18645
1997-07    18645
1997-08    18518
1997-09    18516
1997-10    18516
1997-11    18513
1997-12    18503
1998-01    18480
1998-02    18299
1998-03    18298
1998-04    18347
1998-05    18495
1998-06    18482
1998-07    18203
1998-08    18153
           ...
2011-10     1757
2011-11     1757
2011-12     1376
2012-01     1349
2012-02     1338
2012-03     1338
2012-04       94
2012-05       94
2012-06       93
2012-07       90
2012-08       71
2012-09       71
2012-10       71
2012-11       71
2012-12       71
2013-01       68
2013-02       33
2013-03       33
2013-04       29
2013-05       29
2013-06       29
2013-07       23
2013-08        1
2013-09        1
2013-10        1
2016-02       18
2016-03       18
2016-04       18
2016-05       18
2016-12       11
Length: 217, dtype: int64

In [27]:
dataset = dataset.fillna(method='ffill')

In [28]:
print(dataset)

       type  zipcode               city state                           metro  \
0      ZHVI    10025           New York    NY                        New York
1      ZHVI    60657            Chicago    IL                         Chicago
2      ZHVI    60614            Chicago    IL                         Chicago
3      ZHVI    79936            El Paso    TX                         El Paso
4      ZHVI    60640            Chicago    IL                         Chicago
5      ZHVI    77084            Houston    TX                         Houston
6      ZHVI    94109      San Francisco    CA                   San Francisco
7      ZHVI    75070           McKinney    TX               Dallas-Fort Worth
8      ZHVI    11226           New York    NY                        New York
9      ZHVI    77449            Cypress    TX                         Houston
10     ZHVI    10016           New York    NY                        New York
11     ZHVI    32162       The Villages    FL                    The Villages
12     ZHVI    60647            Chicago    IL                         Chicago
13     ZHVI    37211          Nashville    TN                       Nashville
14     ZHVI    90250          Hawthorne    CA  Los Angeles-Long Beach-Anaheim
15     ZHVI    37013          Nashville    TN                       Nashville
16     ZHVI    60618            Chicago    IL                         Chicago
17     ZHVI    10128           New York    NY                        New York
18     ZHVI    28269          Charlotte    NC                       Charlotte
19     ZHVI    30349          Riverdale    GA                         Atlanta
20     ZHVI    79912            El Paso    TX                         El Paso
21     ZHVI    90046        Los Angeles    CA  Los Angeles-Long Beach-Anaheim
22     ZHVI    94565          Pittsburg    CA                   San Francisco
23     ZHVI    10462           New York    NY                        New York
24     ZHVI    10456           New York    NY                        New York
25     ZHVI    60613            Chicago    IL                         Chicago
26     ZHVI    20009         Washington    DC                      Washington
27     ZHVI    20002         Washington    DC                      Washington
28     ZHVI    21234          Parkville    MD                       Baltimore
29     ZHVI    63376       Saint Peters    MO                       St. Louis
...     ...      ...                ...   ...                             ...
29081   ZRI    95335          Long Barn    CA                          Sonora
29082   ZRI     3586         Sugar Hill    NH                       Claremont
29083   ZRI    92322          Crestline    CA                       Riverside
29084   ZRI    83821             Coolin    ID                       Sandpoint
29085   ZRI    56657            Marcell    MN                       Sandpoint
29086   ZRI    96770           Maunaloa    HI                         Kahului
29087   ZRI    21864           Stockton    MD                       Salisbury
29088   ZRI    49728           Eckerman    MI                Sault Ste. Marie
29089   ZRI    47965     Crawfordsville    IN                  Crawfordsville
29090   ZRI    62689             Thayer    IL                     Springfield
29091   ZRI     3765          Haverhill    NH                       Claremont
29092   ZRI    20629             Dowell    MD                      Washington
29093   ZRI    21865            Tyaskin    MD                       Salisbury
29094   ZRI    63140            Kinloch    MO                       St. Louis
29095   ZRI    92341  Green Valley Lake    CA                       Riverside
29096   ZRI    29074       Liberty Hill    SC                        Columbia
29097   ZRI    80532              Drake    CO                    Fort Collins
29098   ZRI    21840          Nanticoke    MD                       Salisbury
29099   ZRI    84781        Pine Valley    UT                      St. George
29100   ZRI    29915           Bluffton    SC              Hilton Head Island
29101   ZRI    12429          Port Ewen    NY                        Kingston
29102   ZRI    20687           Scotland    MD       California-Lexington Park
29103   ZRI    49793         Trout Lake    MI                Sault Ste. Marie
29104   ZRI    97028       Rhododendron    OR                        Portland
29105   ZRI     4936             Eustis    ME                        Portland
29106   ZRI    12720             Bethel    NY                        Portland
29107   ZRI     1338    Shelburne Falls    MA                 Greenfield Town
29108   ZRI    21405          Annapolis    MD                       Baltimore
29109   ZRI    85220    Apache Junction    AZ                         Phoenix
29110   ZRI    89595               Reno    NV                            Reno

                     county  size_rank   1996-04   1996-05   1996-06   ...     \
0                  New York          1       NaN       NaN       NaN   ...
1                      Cook          2  146700.0  146500.0  146300.0   ...
2                      Cook          3  198000.0  195500.0  194200.0   ...
3                   El Paso          4   70800.0   71000.0   71000.0   ...
4                      Cook          5  102300.0  101300.0  100700.0   ...
5                    Harris          6   75600.0   75400.0   75100.0   ...
6             San Francisco          7  298200.0  295700.0  296400.0   ...
7                    Collin          8  298200.0  295700.0  296400.0   ...
8                     Kings          9  298200.0  295700.0  296400.0   ...
9                    Harris         10   72100.0   72300.0   72100.0   ...
10                 New York         11   72100.0   72300.0   72100.0   ...
11                   Sumter         12   91800.0   92100.0   91800.0   ...
12                     Cook         13  124500.0  124000.0  123600.0   ...
13                 Davidson         14   80900.0   81600.0   82500.0   ...
14              Los Angeles         15   80900.0   81600.0   82500.0   ...
15                 Davidson         16   89300.0   90200.0   91100.0   ...
16                     Cook         17  140900.0  140300.0  139500.0   ...
17                 New York         18  140900.0  140300.0  139500.0   ...
18              Mecklenburg         19  103300.0  104000.0  104700.0   ...
19                  Clayton         20   90400.0   87900.0   86100.0   ...
20                  El Paso         21  106600.0  106800.0  106800.0   ...
21              Los Angeles         22  264500.0  265000.0  266600.0   ...
22             Contra Costa         23  122500.0  122200.0  122100.0   ...
23                    Bronx         24  122500.0  122200.0  122100.0   ...
24                    Bronx         25  122500.0  122200.0  122100.0   ...
25                     Cook         26  106100.0  105300.0  104500.0   ...
26     District of Columbia         27  106100.0  105300.0  104500.0   ...
27     District of Columbia         28  106100.0  105300.0  104500.0   ...
28                Baltimore         29   97100.0   97500.0   98000.0   ...
29            Saint Charles         30   96300.0   96700.0   97100.0   ...
...                     ...        ...       ...       ...       ...   ...
29081              Tuolumne      15882  253500.0  254000.0  255300.0   ...
29082               Grafton      15883  253500.0  254000.0  255300.0   ...
29083        San Bernardino      15884  253500.0  254000.0  255300.0   ...
29084                Bonner      15885  253500.0  254000.0  255300.0   ...
29085                Itasca      15886  253500.0  254000.0  255300.0   ...
29086                  Maui      15887  253500.0  254000.0  255300.0   ...
29087             Worcester      15888  253500.0  254000.0  255300.0   ...
29088              Chippewa      15889  253500.0  254000.0  255300.0   ...
29089            Montgomery      15890  253500.0  254000.0  255300.0   ...
29090              Sangamon      15891  253500.0  254000.0  255300.0   ...
29091               Grafton      15892  253500.0  254000.0  255300.0   ...
29092               Calvert      15893  253500.0  254000.0  255300.0   ...
29093              Wicomico      15894  253500.0  254000.0  255300.0   ...
29094           Saint Louis      15895  253500.0  254000.0  255300.0   ...
29095        San Bernardino      15896  253500.0  254000.0  255300.0   ...
29096               Kershaw      15897  253500.0  254000.0  255300.0   ...
29097               Larimer      15898  253500.0  254000.0  255300.0   ...
29098              Wicomico      15899  253500.0  254000.0  255300.0   ...
29099            Washington      15900  253500.0  254000.0  255300.0   ...
29100              Beaufort      15901  253500.0  254000.0  255300.0   ...
29101                Ulster      15902  253500.0  254000.0  255300.0   ...
29102           Saint Marys      15903  253500.0  254000.0  255300.0   ...
29103              Chippewa      15904  253500.0  254000.0  255300.0   ...
29104             Clackamas      15905  253500.0  254000.0  255300.0   ...
29105              Franklin      15906  253500.0  254000.0  255300.0   ...
29106              Sullivan      15907  253500.0  254000.0  255300.0   ...
29107              Franklin      15908  253500.0  254000.0  255300.0   ...
29108          Anne Arundel      15909  253500.0  254000.0  255300.0   ...
29109                 Pinal      15910  253500.0  254000.0  255300.0   ...
29110                Washoe      15911  253500.0  254000.0  255300.0   ...

       2016-09  2016-10  2016-11    2016-12  2017-01  2017-02  2017-03  \
0      1137500  1137700  1152700  1156000.0  1140200  1130000  1131900
1       318200   318100   318800   320200.0   320800   322000   323800
2       401900   406000   414100   417800.0   417400   418400   414100
3       113800   113900   114100   114500.0   114900   115000   114700
4       198800   199200   200100   201500.0   203000   205100   206700
5       160400   160300   160400   159200.0   157000   154700   153500
6      1105500  1109500  1118200  1125900.0  1128200  1128700  1131900
7       298800   301000   303400   304800.0   305600   307400   309800
8       583600   594800   605200   612100.0   612800   616900   628900
9       160500   161800   162600   161600.0   159100   156400   155200
10      934800   946000   949200   950000.0   951800   960100   972200
11      246900   247300   247200   247000.0   247100   247300   247600
12      317100   320500   323800   326700.0   329200   331200   332400
13      204500   207500   210500   213400.0   215600   217100   218900
14      537200   543500   551400   556900.0   561000   564500   568200
15      169700   171800   173900   175800.0   177000   178000   179800
16      325300   327000   328600   332100.0   334700   335500   335100
17     1074900  1076400  1090300  1111300.0  1133100  1154700  1189800
18      168600   169900   171100   172300.0   173400   174300   175200
19      101600   104000   107200   110500.0   113300   115400   115700
20      169000   169400   169400   169400.0   169800   170100   169800
21     1253700  1262500  1267900  1271500.0  1278600  1288000  1296300
22      360100   364300   368300   371600.0   375500   378700   380100
23      120600   121600   121500   121000.0   121100   123200   126200
24      316700   320400   324700   325700.0   325000   328700   335000
25      199200   199200   199200   200800.0   203200   203900   204200
26      544000   548000   551300   554700.0   560300   567800   570900
27      597100   595600   595900   599800.0   605600   613500   618700
28      199200   199400   200300   201700.0   202700   203300   204100
29      181700   183200   184500   185800.0   187600   189900   191500
...        ...      ...      ...        ...      ...      ...      ...
29081     1394     1407     1408     1400.0     1385     1367     1353
29082     1554     1563     1600     1628.0     1640     1636     1662
29083     1123     1119     1113     1105.0     1102     1099     1103
29084     1916     1834     1739     1673.0     1596     1543     1510
29085     1327     1328     1324     1311.0     1297     1291     1285
29086     1843     1874     1953     1979.0     1995     1970     1979
29087     1111     1144     1155     1142.0     1121     1122     1130
29088      859      850      839      825.0      814      806      807
29089      874      879      884      886.0      886      885      883
29090      847      844      845      843.0      837      823      806
29091     1160     1161     1176     1187.0     1203     1219     1237
29092     1741     1743     1739     1735.0     1732     1734     1738
29093     1127     1123     1125     1136.0     1156     1175     1177
29094      766      765      766      768.0      773      779      785
29095     1041     1044     1040     1035.0     1035     1043     1060
29096     1337     1348     1357     1372.0     1388     1402     1398
29097     1616     1611     1603     1594.0     1578     1565     1548
29098     1160     1150     1151     1165.0     1184     1199     1196
29099     1381     1384     1384     1386.0     1388     1394     1402
29100     2500     2544     2624     2712.0     2770     2779     2770
29101     1534     1533     1542     1561.0     1583     1595     1605
29102     1363     1348     1333     1323.0     1335     1371     1398
29103      927      908      891      872.0      860      849      848
29104     1854     1858     1862     1857.0     1852     1843     1829
29105     1111     1103     1101     1111.0     1119     1115     1106
29106     1185     1181     1174     1167.0     1156     1162     1175
29107     1769     1772     1775     1780.0     1786     1790     1797
29108     4048     4005     3888     3729.0     3563     3493     3474
29109     1007     1018     1035     1052.0     1061     1060     1058
29110      872      877      871      863.0      843      826      816

       2017-04  2017-05  2017-06
0      1149600  1198400  1247000
1       326100   327800   329100
2       404100   406400   415500
3       114700   114800   114700
4       206500   206200   206700
5       154200   156700   158200
6      1138700  1144600  1147900
7       312100   314100   315300
8       644200   653500   658700
9       156400   159400   161000
10      986900  1021200  1061200
11      248100   248200   247900
12      333000   334300   335400
13      222100   224900   226800
14      571600   574600   577000
15      182200   184600   186600
16      334200   334000   334600
17     1241000  1288200  1318300
18      176000   177300   178800
19      114100   113700   114800
20      169400   169500   169800
21     1307900  1315700  1317200
22      381700   384300   385900
23      128700   131900   135400
24      338600   340200   341300
25      204700   205900   207200
26      567300   564400   564000
27      615800   612100   611500
28      204200   203700   203400
29      192600   191100   187700
...        ...      ...      ...
29081     1347     1347     1351
29082     1668     1662     1639
29083     1110     1124     1137
29084     1531     1584     1621
29085     1277     1267     1260
29086     1968     1977     2008
29087     1144     1153     1144
29088      811      822      834
29089      880      879      881
29090      798      799      808
29091     1244     1231     1210
29092     1738     1736     1737
29093     1162     1134     1120
29094      788      788      783
29095     1078     1093     1101
29096     1382     1361     1350
29097     1549     1562     1587
29098     1184     1165     1161
29099     1412     1418     1418
29100     2788     2823     2899
29101     1612     1618     1621
29102     1391     1347     1300
29103      846      859      870
29104     1807     1786     1771
29105     1097     1098     1106
29106     1194     1202     1206
29107     1798     1796     1795
29108     3496     3488     3471
29109     1065     1074     1080
29110      820      838      848

[29111 rows x 262 columns]

In [31]:
dataset[show_missing()].isnull().sum()

1996-04    1
1996-05    1
1996-06    1
1996-07    1
1996-08    1
1996-09    1
1996-10    1
1996-11    1
1996-12    1
1997-01    1
1997-02    1
1997-03    1
1997-04    1
1997-05    1
1997-06    1
1997-07    1
1997-08    1
1997-09    1
1997-10    1
1997-11    1
1997-12    1
1998-01    1
1998-02    1
1998-03    1
1998-04    1
1998-05    1
1998-06    1
1998-07    1
1998-08    1
1998-09    1
          ..
2003-03    1
2003-04    1
2003-05    1
2003-06    1
2003-07    1
2003-08    1
2003-09    1
2003-10    1
2003-11    1
2003-12    1
2004-01    1
2004-02    1
2004-03    1
2004-04    1
2004-05    1
2004-06    1
2004-07    1
2004-08    1
2004-09    1
2004-10    1
2004-11    1
2004-12    1
2005-01    1
2005-02    1
2005-03    1
2005-04    1
2005-05    1
2005-06    1
2005-07    1
2005-08    1
Length: 113, dtype: int64

In [39]:
dataset.drop(dataset[dataset['zipcode'] == 10025])

ValueError: labels ['type' 'zipcode' 'city' 'state' 'metro' 'county' 'size_rank' '1996-04'
 '1996-05' '1996-06' '1996-07' '1996-08' '1996-09' '1996-10' '1996-11'
 '1996-12' '1997-01' '1997-02' '1997-03' '1997-04' '1997-05' '1997-06'
 '1997-07' '1997-08' '1997-09' '1997-10' '1997-11' '1997-12' '1998-01'
 '1998-02' '1998-03' '1998-04' '1998-05' '1998-06' '1998-07' '1998-08'
 '1998-09' '1998-10' '1998-11' '1998-12' '1999-01' '1999-02' '1999-03'
 '1999-04' '1999-05' '1999-06' '1999-07' '1999-08' '1999-09' '1999-10'
 '1999-11' '1999-12' '2000-01' '2000-02' '2000-03' '2000-04' '2000-05'
 '2000-06' '2000-07' '2000-08' '2000-09' '2000-10' '2000-11' '2000-12'
 '2001-01' '2001-02' '2001-03' '2001-04' '2001-05' '2001-06' '2001-07'
 '2001-08' '2001-09' '2001-10' '2001-11' '2001-12' '2002-01' '2002-02'
 '2002-03' '2002-04' '2002-05' '2002-06' '2002-07' '2002-08' '2002-09'
 '2002-10' '2002-11' '2002-12' '2003-01' '2003-02' '2003-03' '2003-04'
 '2003-05' '2003-06' '2003-07' '2003-08' '2003-09' '2003-10' '2003-11'
 '2003-12' '2004-01' '2004-02' '2004-03' '2004-04' '2004-05' '2004-06'
 '2004-07' '2004-08' '2004-09' '2004-10' '2004-11' '2004-12' '2005-01'
 '2005-02' '2005-03' '2005-04' '2005-05' '2005-06' '2005-07' '2005-08'
 '2005-09' '2005-10' '2005-11' '2005-12' '2006-01' '2006-02' '2006-03'
 '2006-04' '2006-05' '2006-06' '2006-07' '2006-08' '2006-09' '2006-10'
 '2006-11' '2006-12' '2007-01' '2007-02' '2007-03' '2007-04' '2007-05'
 '2007-06' '2007-07' '2007-08' '2007-09' '2007-10' '2007-11' '2007-12'
 '2008-01' '2008-02' '2008-03' '2008-04' '2008-05' '2008-06' '2008-07'
 '2008-08' '2008-09' '2008-10' '2008-11' '2008-12' '2009-01' '2009-02'
 '2009-03' '2009-04' '2009-05' '2009-06' '2009-07' '2009-08' '2009-09'
 '2009-10' '2009-11' '2009-12' '2010-01' '2010-02' '2010-03' '2010-04'
 '2010-05' '2010-06' '2010-07' '2010-08' '2010-09' '2010-10' '2010-11'
 '2010-12' '2011-01' '2011-02' '2011-03' '2011-04' '2011-05' '2011-06'
 '2011-07' '2011-08' '2011-09' '2011-10' '2011-11' '2011-12' '2012-01'
 '2012-02' '2012-03' '2012-04' '2012-05' '2012-06' '2012-07' '2012-08'
 '2012-09' '2012-10' '2012-11' '2012-12' '2013-01' '2013-02' '2013-03'
 '2013-04' '2013-05' '2013-06' '2013-07' '2013-08' '2013-09' '2013-10'
 '2013-11' '2013-12' '2014-01' '2014-02' '2014-03' '2014-04' '2014-05'
 '2014-06' '2014-07' '2014-08' '2014-09' '2014-10' '2014-11' '2014-12'
 '2015-01' '2015-02' '2015-03' '2015-04' '2015-05' '2015-06' '2015-07'
 '2015-08' '2015-09' '2015-10' '2015-11' '2015-12' '2016-01' '2016-02'
 '2016-03' '2016-04' '2016-05' '2016-06' '2016-07' '2016-08' '2016-09'
 '2016-10' '2016-11' '2016-12' '2017-01' '2017-02' '2017-03' '2017-04'
 '2017-05' '2017-06'] not contained in axis

In [41]:
dataset = dataset.iloc[1:]

In [43]:
print(dataset)

       type  zipcode               city state                           metro  \
1      ZHVI    60657            Chicago    IL                         Chicago
2      ZHVI    60614            Chicago    IL                         Chicago
3      ZHVI    79936            El Paso    TX                         El Paso
4      ZHVI    60640            Chicago    IL                         Chicago
5      ZHVI    77084            Houston    TX                         Houston
6      ZHVI    94109      San Francisco    CA                   San Francisco
7      ZHVI    75070           McKinney    TX               Dallas-Fort Worth
8      ZHVI    11226           New York    NY                        New York
9      ZHVI    77449            Cypress    TX                         Houston
10     ZHVI    10016           New York    NY                        New York
11     ZHVI    32162       The Villages    FL                    The Villages
12     ZHVI    60647            Chicago    IL                         Chicago
13     ZHVI    37211          Nashville    TN                       Nashville
14     ZHVI    90250          Hawthorne    CA  Los Angeles-Long Beach-Anaheim
15     ZHVI    37013          Nashville    TN                       Nashville
16     ZHVI    60618            Chicago    IL                         Chicago
17     ZHVI    10128           New York    NY                        New York
18     ZHVI    28269          Charlotte    NC                       Charlotte
19     ZHVI    30349          Riverdale    GA                         Atlanta
20     ZHVI    79912            El Paso    TX                         El Paso
21     ZHVI    90046        Los Angeles    CA  Los Angeles-Long Beach-Anaheim
22     ZHVI    94565          Pittsburg    CA                   San Francisco
23     ZHVI    10462           New York    NY                        New York
24     ZHVI    10456           New York    NY                        New York
25     ZHVI    60613            Chicago    IL                         Chicago
26     ZHVI    20009         Washington    DC                      Washington
27     ZHVI    20002         Washington    DC                      Washington
28     ZHVI    21234          Parkville    MD                       Baltimore
29     ZHVI    63376       Saint Peters    MO                       St. Louis
30     ZHVI    77036            Houston    TX                         Houston
...     ...      ...                ...   ...                             ...
29081   ZRI    95335          Long Barn    CA                          Sonora
29082   ZRI     3586         Sugar Hill    NH                       Claremont
29083   ZRI    92322          Crestline    CA                       Riverside
29084   ZRI    83821             Coolin    ID                       Sandpoint
29085   ZRI    56657            Marcell    MN                       Sandpoint
29086   ZRI    96770           Maunaloa    HI                         Kahului
29087   ZRI    21864           Stockton    MD                       Salisbury
29088   ZRI    49728           Eckerman    MI                Sault Ste. Marie
29089   ZRI    47965     Crawfordsville    IN                  Crawfordsville
29090   ZRI    62689             Thayer    IL                     Springfield
29091   ZRI     3765          Haverhill    NH                       Claremont
29092   ZRI    20629             Dowell    MD                      Washington
29093   ZRI    21865            Tyaskin    MD                       Salisbury
29094   ZRI    63140            Kinloch    MO                       St. Louis
29095   ZRI    92341  Green Valley Lake    CA                       Riverside
29096   ZRI    29074       Liberty Hill    SC                        Columbia
29097   ZRI    80532              Drake    CO                    Fort Collins
29098   ZRI    21840          Nanticoke    MD                       Salisbury
29099   ZRI    84781        Pine Valley    UT                      St. George
29100   ZRI    29915           Bluffton    SC              Hilton Head Island
29101   ZRI    12429          Port Ewen    NY                        Kingston
29102   ZRI    20687           Scotland    MD       California-Lexington Park
29103   ZRI    49793         Trout Lake    MI                Sault Ste. Marie
29104   ZRI    97028       Rhododendron    OR                        Portland
29105   ZRI     4936             Eustis    ME                        Portland
29106   ZRI    12720             Bethel    NY                        Portland
29107   ZRI     1338    Shelburne Falls    MA                 Greenfield Town
29108   ZRI    21405          Annapolis    MD                       Baltimore
29109   ZRI    85220    Apache Junction    AZ                         Phoenix
29110   ZRI    89595               Reno    NV                            Reno

                     county  size_rank   1996-04   1996-05   1996-06   ...     \
1                      Cook          2  146700.0  146500.0  146300.0   ...
2                      Cook          3  198000.0  195500.0  194200.0   ...
3                   El Paso          4   70800.0   71000.0   71000.0   ...
4                      Cook          5  102300.0  101300.0  100700.0   ...
5                    Harris          6   75600.0   75400.0   75100.0   ...
6             San Francisco          7  298200.0  295700.0  296400.0   ...
7                    Collin          8  298200.0  295700.0  296400.0   ...
8                     Kings          9  298200.0  295700.0  296400.0   ...
9                    Harris         10   72100.0   72300.0   72100.0   ...
10                 New York         11   72100.0   72300.0   72100.0   ...
11                   Sumter         12   91800.0   92100.0   91800.0   ...
12                     Cook         13  124500.0  124000.0  123600.0   ...
13                 Davidson         14   80900.0   81600.0   82500.0   ...
14              Los Angeles         15   80900.0   81600.0   82500.0   ...
15                 Davidson         16   89300.0   90200.0   91100.0   ...
16                     Cook         17  140900.0  140300.0  139500.0   ...
17                 New York         18  140900.0  140300.0  139500.0   ...
18              Mecklenburg         19  103300.0  104000.0  104700.0   ...
19                  Clayton         20   90400.0   87900.0   86100.0   ...
20                  El Paso         21  106600.0  106800.0  106800.0   ...
21              Los Angeles         22  264500.0  265000.0  266600.0   ...
22             Contra Costa         23  122500.0  122200.0  122100.0   ...
23                    Bronx         24  122500.0  122200.0  122100.0   ...
24                    Bronx         25  122500.0  122200.0  122100.0   ...
25                     Cook         26  106100.0  105300.0  104500.0   ...
26     District of Columbia         27  106100.0  105300.0  104500.0   ...
27     District of Columbia         28  106100.0  105300.0  104500.0   ...
28                Baltimore         29   97100.0   97500.0   98000.0   ...
29            Saint Charles         30   96300.0   96700.0   97100.0   ...
30                   Harris         31   42900.0   43400.0   44000.0   ...
...                     ...        ...       ...       ...       ...   ...
29081              Tuolumne      15882  253500.0  254000.0  255300.0   ...
29082               Grafton      15883  253500.0  254000.0  255300.0   ...
29083        San Bernardino      15884  253500.0  254000.0  255300.0   ...
29084                Bonner      15885  253500.0  254000.0  255300.0   ...
29085                Itasca      15886  253500.0  254000.0  255300.0   ...
29086                  Maui      15887  253500.0  254000.0  255300.0   ...
29087             Worcester      15888  253500.0  254000.0  255300.0   ...
29088              Chippewa      15889  253500.0  254000.0  255300.0   ...
29089            Montgomery      15890  253500.0  254000.0  255300.0   ...
29090              Sangamon      15891  253500.0  254000.0  255300.0   ...
29091               Grafton      15892  253500.0  254000.0  255300.0   ...
29092               Calvert      15893  253500.0  254000.0  255300.0   ...
29093              Wicomico      15894  253500.0  254000.0  255300.0   ...
29094           Saint Louis      15895  253500.0  254000.0  255300.0   ...
29095        San Bernardino      15896  253500.0  254000.0  255300.0   ...
29096               Kershaw      15897  253500.0  254000.0  255300.0   ...
29097               Larimer      15898  253500.0  254000.0  255300.0   ...
29098              Wicomico      15899  253500.0  254000.0  255300.0   ...
29099            Washington      15900  253500.0  254000.0  255300.0   ...
29100              Beaufort      15901  253500.0  254000.0  255300.0   ...
29101                Ulster      15902  253500.0  254000.0  255300.0   ...
29102           Saint Marys      15903  253500.0  254000.0  255300.0   ...
29103              Chippewa      15904  253500.0  254000.0  255300.0   ...
29104             Clackamas      15905  253500.0  254000.0  255300.0   ...
29105              Franklin      15906  253500.0  254000.0  255300.0   ...
29106              Sullivan      15907  253500.0  254000.0  255300.0   ...
29107              Franklin      15908  253500.0  254000.0  255300.0   ...
29108          Anne Arundel      15909  253500.0  254000.0  255300.0   ...
29109                 Pinal      15910  253500.0  254000.0  255300.0   ...
29110                Washoe      15911  253500.0  254000.0  255300.0   ...

       2016-09  2016-10  2016-11    2016-12  2017-01  2017-02  2017-03  \
1       318200   318100   318800   320200.0   320800   322000   323800
2       401900   406000   414100   417800.0   417400   418400   414100
3       113800   113900   114100   114500.0   114900   115000   114700
4       198800   199200   200100   201500.0   203000   205100   206700
5       160400   160300   160400   159200.0   157000   154700   153500
6      1105500  1109500  1118200  1125900.0  1128200  1128700  1131900
7       298800   301000   303400   304800.0   305600   307400   309800
8       583600   594800   605200   612100.0   612800   616900   628900
9       160500   161800   162600   161600.0   159100   156400   155200
10      934800   946000   949200   950000.0   951800   960100   972200
11      246900   247300   247200   247000.0   247100   247300   247600
12      317100   320500   323800   326700.0   329200   331200   332400
13      204500   207500   210500   213400.0   215600   217100   218900
14      537200   543500   551400   556900.0   561000   564500   568200
15      169700   171800   173900   175800.0   177000   178000   179800
16      325300   327000   328600   332100.0   334700   335500   335100
17     1074900  1076400  1090300  1111300.0  1133100  1154700  1189800
18      168600   169900   171100   172300.0   173400   174300   175200
19      101600   104000   107200   110500.0   113300   115400   115700
20      169000   169400   169400   169400.0   169800   170100   169800
21     1253700  1262500  1267900  1271500.0  1278600  1288000  1296300
22      360100   364300   368300   371600.0   375500   378700   380100
23      120600   121600   121500   121000.0   121100   123200   126200
24      316700   320400   324700   325700.0   325000   328700   335000
25      199200   199200   199200   200800.0   203200   203900   204200
26      544000   548000   551300   554700.0   560300   567800   570900
27      597100   595600   595900   599800.0   605600   613500   618700
28      199200   199400   200300   201700.0   202700   203300   204100
29      181700   183200   184500   185800.0   187600   189900   191500
30      114400   110000   108000   107300.0   105500   101900    99700
...        ...      ...      ...        ...      ...      ...      ...
29081     1394     1407     1408     1400.0     1385     1367     1353
29082     1554     1563     1600     1628.0     1640     1636     1662
29083     1123     1119     1113     1105.0     1102     1099     1103
29084     1916     1834     1739     1673.0     1596     1543     1510
29085     1327     1328     1324     1311.0     1297     1291     1285
29086     1843     1874     1953     1979.0     1995     1970     1979
29087     1111     1144     1155     1142.0     1121     1122     1130
29088      859      850      839      825.0      814      806      807
29089      874      879      884      886.0      886      885      883
29090      847      844      845      843.0      837      823      806
29091     1160     1161     1176     1187.0     1203     1219     1237
29092     1741     1743     1739     1735.0     1732     1734     1738
29093     1127     1123     1125     1136.0     1156     1175     1177
29094      766      765      766      768.0      773      779      785
29095     1041     1044     1040     1035.0     1035     1043     1060
29096     1337     1348     1357     1372.0     1388     1402     1398
29097     1616     1611     1603     1594.0     1578     1565     1548
29098     1160     1150     1151     1165.0     1184     1199     1196
29099     1381     1384     1384     1386.0     1388     1394     1402
29100     2500     2544     2624     2712.0     2770     2779     2770
29101     1534     1533     1542     1561.0     1583     1595     1605
29102     1363     1348     1333     1323.0     1335     1371     1398
29103      927      908      891      872.0      860      849      848
29104     1854     1858     1862     1857.0     1852     1843     1829
29105     1111     1103     1101     1111.0     1119     1115     1106
29106     1185     1181     1174     1167.0     1156     1162     1175
29107     1769     1772     1775     1780.0     1786     1790     1797
29108     4048     4005     3888     3729.0     3563     3493     3474
29109     1007     1018     1035     1052.0     1061     1060     1058
29110      872      877      871      863.0      843      826      816

       2017-04  2017-05  2017-06
1       326100   327800   329100
2       404100   406400   415500
3       114700   114800   114700
4       206500   206200   206700
5       154200   156700   158200
6      1138700  1144600  1147900
7       312100   314100   315300
8       644200   653500   658700
9       156400   159400   161000
10      986900  1021200  1061200
11      248100   248200   247900
12      333000   334300   335400
13      222100   224900   226800
14      571600   574600   577000
15      182200   184600   186600
16      334200   334000   334600
17     1241000  1288200  1318300
18      176000   177300   178800
19      114100   113700   114800
20      169400   169500   169800
21     1307900  1315700  1317200
22      381700   384300   385900
23      128700   131900   135400
24      338600   340200   341300
25      204700   205900   207200
26      567300   564400   564000
27      615800   612100   611500
28      204200   203700   203400
29      192600   191100   187700
30      101900   106600   107800
...        ...      ...      ...
29081     1347     1347     1351
29082     1668     1662     1639
29083     1110     1124     1137
29084     1531     1584     1621
29085     1277     1267     1260
29086     1968     1977     2008
29087     1144     1153     1144
29088      811      822      834
29089      880      879      881
29090      798      799      808
29091     1244     1231     1210
29092     1738     1736     1737
29093     1162     1134     1120
29094      788      788      783
29095     1078     1093     1101
29096     1382     1361     1350
29097     1549     1562     1587
29098     1184     1165     1161
29099     1412     1418     1418
29100     2788     2823     2899
29101     1612     1618     1621
29102     1391     1347     1300
29103      846      859      870
29104     1807     1786     1771
29105     1097     1098     1106
29106     1194     1202     1206
29107     1798     1796     1795
29108     3496     3488     3471
29109     1065     1074     1080
29110      820      838      848

[29110 rows x 262 columns]

AttributeError: module 'pandas' has no attribute 'write_csv'

In [44]:
dataset.to_csv('estate_clean.csv')

PermissionError: [Errno 13] Permission denied: 'estate_clean.csv'

In [46]:
dataset.to_csv('estate_clean.csv')

In [49]:
listings = pd.read_csv(r'C:\Users\Christopher\Music\datathon\data\listings.csv')

C:\Users\Christopher\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [50]:
listings = listings[['city', 'metropolitan', 'price', 'state', 'availability_30', 'instant_bookable']]

In [51]:
print(listings)

              city metropolitan      price state  availability_30  \
0            acton           LA  $3,000.00    CA               27
1         palmdale           LA     $50.00    CA               29
2            acton           LA     $55.00    CA               18
3            acton           LA    $150.00    CA                3
4      los angeles           LA     $30.00    CA                0
5      los angeles           LA     $35.00    CA                4
6      los angeles           LA     $45.00    CA                6
7      los angeles           LA     $56.00    CA               22
8      los angeles           LA    $350.00    CA               29
9      los angeles           LA     $80.00    CA               10
10     los angeles           LA    $120.00    CA                0
11     los angeles           LA     $55.00    CA                3
12     los angeles           LA     $50.00    CA               20
13     los angeles           LA     $60.00    CA                7
14     los angeles           LA     $50.00    CA                0
15     los angeles           LA     $55.00    CA               17
16     los angeles           LA     $80.00    CA               25
17     los angeles           LA     $79.00    CA               27
18     los angeles           LA    $100.00    CA                0
19     los angeles           LA     $75.00    CA               29
20     los angeles           LA     $59.00    CA               24
21     los angeles           LA    $123.00    CA               29
22     los angeles           LA     $32.00    CA                0
23     los angeles           LA     $59.00    CA               29
24     los angeles           LA    $115.00    CA                6
25     los angeles           LA     $45.00    CA               10
26     los angeles           LA     $56.00    CA               17
27     los angeles           LA     $59.00    CA                0
28     los angeles           LA     $50.00    CA               25
29     los angeles           LA     $70.00    CA                0
...            ...          ...        ...   ...              ...
56387     portland     portland     $65.00    OR                3
56388     portland     portland     $45.00    OR                0
56389     portland     portland     $39.00    OR                4
56390     portland     portland     $23.00    OR               16
56391     portland     portland    $120.00    OR                3
56392     portland     portland     $40.00    OR               15
56393     portland     portland    $175.00    OR               26
56394     portland     portland     $30.00    OR                6
56395     portland     portland     $70.00    OR                1
56396     portland     portland    $175.00    OR                9
56397     portland     portland     $65.00    OR               22
56398     portland     portland    $135.00    OR                9
56399     portland     portland     $89.00    OR               28
56400     portland     portland    $125.00    OR               23
56401     portland     portland     $75.00    OR               30
56402     portland     portland     $80.00    OR               18
56403     portland     portland     $75.00    OR               29
56404     portland     portland     $75.00    OR               29
56405     portland     portland     $48.00    OR               24
56406     portland     portland    $140.00    OR                0
56407     portland     portland     $46.00    OR               21
56408     portland     portland     $70.00    OR               24
56409     portland     portland     $85.00    OR               21
56410     portland     portland    $350.00    OR                0
56411     portland     portland     $80.00    OR                0
56412     portland     portland     $75.00    OR               29
56413  lake oswego     portland     $75.00    OR                9
56414     portland     portland     $99.00    OR               23
56415     portland     portland    $110.00    OR                0
56416  lake oswego     portland    $107.00    OR               12

      instant_bookable
0                    t
1                    f
2                    f
3                    t
4                    f
5                    f
6                    f
7                    f
8                    f
9                    f
10                   f
11                   f
12                   f
13                   t
14                   t
15                   f
16                   f
17                   f
18                   f
19                   f
20                   f
21                   f
22                   f
23                   f
24                   f
25                   f
26                   f
27                   f
28                   t
29                   f
...                ...
56387                t
56388                f
56389                f
56390                f
56391                f
56392                t
56393                f
56394                f
56395                t
56396                t
56397                f
56398                t
56399                f
56400                f
56401                f
56402                f
56403                f
56404                f
56405                f
56406                f
56407                t
56408                f
56409                f
56410                f
56411                f
56412                f
56413                f
56414                f
56415                f
56416                f

[56417 rows x 6 columns]

In [52]:
listings.to_csv('listings_clean.csv')

In [ ]:
new_df = pd.merge(A_df, B_df,  how='left', left_on=['A_c1','c2'], right_on = ['B_c1','c2']