In [81]:
import sklearn

In [82]:
from decimal import Decimal

In [83]:
import pandas as pd

In [84]:
%matplotlib inline

# Load Data

In [85]:
df1 = pd.read_csv("calendar.csv")

In [86]:
df2 = pd.read_csv("demographics.csv")

# Check if there are null values

In [87]:
df1.isnull().any()
# So we know that calendar.csv has null values in price

listing_id    False
date          False
available     False
price          True
metro_area    False
dtype: bool

In [88]:
df2.isnull().any()
# So we know that demographics doesn't have null values.

city                       False
state                      False
population                 False
5_years_or_less            False
5-9_years                  False
10-14_years                False
15-19_years                False
20-24_years                False
25-34_years                False
35-44_years                False
45-54_years                False
55-59_years                False
60-64_years                False
65-74_years                False
75-84_years                False
85_years_or_more           False
households                 False
$9,999_or_less             False
$10,000-$14,999            False
$15,000-$24,999            False
$25,000-$34,999            False
$35,000-$49,999            False
$50,000-$64,999            False
$65,000-$74,999            False
$75,000-$99,999            False
$100,000_or_more           False
median_household_income    False
mean_household_income      False
dtype: bool

# Calendar missing data Statistics

In [89]:
missing_val = df1.isnull().sum()['price']

In [90]:
total_col_length = df1.shape[0]

In [91]:
missing_val / total_col_length * 1.0

0.4793985886789139

50% of data missing

In [ ]:
df1[(df1['price'].isnull()) & (df1['available'] == "t")]

Above line tells us that only when the airbnb is not available, then the price is missing

# Imputing Data

In [92]:
null_df1 = df1

In [93]:
null_df1 = null_df1.fillna(method="ffill")

### Converting strings to floats in price

In [94]:
def price_to_float (price):
    price = str(price)
    return float(price.strip("$").replace(",", ""))

In [95]:
null_df1['price'] = null_df1['price'].apply(price_to_float)

In [98]:
df1 = df1.dropna()

In [99]:
df1['price'] = df1['price'].apply(price_to_float)

### Exporting Data

In [104]:
null_df1.to_csv("calendar_clean_ffill.csv")

In [105]:
df1.to_csv("calendar_clean.csv")

## Conclusion

Price data is actually not available when the airbnb itself is not available, thus if we're not dealing with unavaiable airbnbs we can drop the rows containing that data. If we are, we can use the fill forwarded cleaned data.